#map {
  height: 100vh;
  width: 80vw;
}
#sidebar {
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#sidebar form {
  display: flex;
  flex-direction: column;
  padding: 10%;
}
#sidebar .sidebarField {
  margin-top: 5%;
}
#sidebar .styleOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}
.evStations input {
  margin-bottom: 10%;
}
.colorInput, .zoomInput {
  width: 50%;
  text-align: center;
}
